@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: center;
  background-color: rgba(18, 17, 17, 0.93);
  color: white;
  padding: 6px;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1300px;
  height: 80px;
}

#cabecalho-logo{
  width: 80px;
}

.cabecalho-navegacao{
  display: flex;
  align-items: flex-end;
  gap: 50px;
}

.botoes{
  display: flex;
  margin: 0;
  box-shadow: 0 0 10px #888;
  background-color: rgb(171, 216, 255);
  /* background-color: rgba(255, 255, 0, 0.899); */
  padding: 5px;
  gap: 5px;
}

.cabecalho-navegacao button{
  border: 1px solid black;
  font-weight: bold;
  width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.cabecalho-navegacao button:hover{
  background-color: black;
  color: white;
  transition: 1s;
}

#ricoh{
  width: 70px;
  border-radius: 5px;
}

main{
  display: flex;
  justify-content: center;
  background-color: #362e26;
}

.main-conteudo{
  border: 1px solid white;
}

.conteudo-texto{
  text-align: center;
}

#main-foto{
  width: 1000px;
}