body{
  margin: 0;
}

header{
  display: flex;
  justify-content: center;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1100px;
  padding: 10px;  
}

#cabecalho-logo{
  width: 110px;
}